doctrine:
    dbal:
        url: '%env(DATABASE_URL)%' 
        server_version: '8.0'
        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

# Configuration spécifique aux tests
when@test:
    doctrine:
        dbal:
            driver: 'pdo_sqlite'
            url: '%env(DATABASE_URL)%'  # Base mémoire
        orm:
            auto_generate_proxy_classes: true
            auto_mapping: true
