### Symfony ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/public/bundles/
/public/assets/
/assets/vendor/

### PHPUnit ###
/phpunit.xml
.phpunit.result.cache

### Symfony Bridge ###
.phpunit.result.cache
/phpunit.xml

### IDE / Editor ###
.vscode/
/.idea/
*.sublime-workspace
*.sublime-project

### OS files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Node / Frontend ###
node_modules/
yarn.lock
package-lock.json
/dist/
/build/